:root {
  --header-height: 80px;
  --color-primary-50: #eaf3ff;
  --color-primary-100: #dae9ff;
  --color-primary-200: #bcd6ff;
  --color-primary-300: #93b9ff;
  --color-primary-400: #6890ff;
  --color-primary-500: #4568ff;
  --color-primary-600: #253bff;
  --color-primary-700: #2031e9;
  --color-primary-800: #1828bb;
  --color-primary-900: #1d2c92;
  --color-primary-950: #111855;
}

body {
  padding-top: var(--header-height);
}

.about-section {
  padding: 2rem 0;
  background-color: var(--color-primary-50);
  min-height: calc(100vh - var(--header-height));
  display: flex;
  align-items: center;
  overflow: hidden;
}

.about-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}

.about-content h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--color-primary-900);
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
  align-items: start;
}

.about-image {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.about-image.animate {
  opacity: 1;
  transform: translateX(0);
}

.about-image img {
  width: 100%;
}

.about-text {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.about-text.animate {
  opacity: 1;
  transform: translateX(0);
}

.about-text p {
  margin-bottom: 1rem;
  line-height: 1.6;
  color: var(--color-primary-600);
}

.about-text h3 {
  font-size: 1.5rem;
  margin: 1.5rem 0 1rem;
  color: var(--color-primary-900);
}

.skills-list {
  font-size: 1.1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style-type: none;
  padding: 0;
}

.skills-list li {
  background-color: var(--color-primary-200);
  color: var(--color-primary-800);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  border: 2px solid transparent;
}

/* Hover effect */
.skills-list li:hover {
  background-color: var(--color-primary-400);
  color: var(--color-primary-50);
  transform: scale(1.05);
  border-color: var(--color-primary-600);
}

@media (max-width: 768px) {
  .about-section {
    padding: 2rem 0;
  }

  .about-grid {
    grid-template-columns: 1fr;
  }
  
  .about-image {
    text-align: center;
  }
  
  .about-image img {
    max-width: 250px;
  }
}
