/* Resume.css */
.resume-section {
    padding: 2rem;
    text-align: center;
  }
  
  .resume-container {
    display: flex;
    justify-content: center;
  }
  
  .resume-box {
    background-color: var(--color-primary-100);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .social-icon {
    width: 32px; /* Adjust size as needed */
    height: 32px; /* Adjust size as needed */
    margin: 0 10px; /* Space between icons */
    transition: transform 0.2s ease;
  }
  
  .social-icon:hover {
    transform: scale(1.2); /* Scale effect on hover */
  }
  
  .resume-image {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem; 
  }
  
  .resume-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--color-primary-500);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .resume-button:hover {
    background-color: var(--color-primary-400);
  }
  